@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	/*
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#333;
	*/
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
	HEADER
*/

.header {
}

.header .logo {
	background-image: url("../img/logo.png");
	background-position: left;
	height: 100px;
}

@media (min-width: 768px) {
	.header .logo {
		height: 200px;
	}
}

.navbar {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.eventkategori:hover{
	-webkit-transform:scale(1.1);
	-webkit-animation-name: kategori;
	-webkit-animation-duration: 0.2s;
	transform:scale(1.1);
	animation-name: kategori;
	animation-duration: 0.2s;
}

@-webkit-keyframes kategori {
	from {
		-webkit-transform:scale(1.0);	
	}
	to {
		-webkit-transform:scale(1.1);
	}
}

@keyframes kategori {
	from {
		transform:scale(1.0);	
	}
	to {
		transform:scale(1.1);
	}
}
/*
	FOOTER
*/

.blog-footer {
	margin-top: 5em;
	padding: 40px 0;
	color: #888;
	text-align: center;
	background-color: #f1f1f1;
	border-top: 1px solid #e1e1e1;
}

.blog-footer li {
	list-style: none;
}

/*
	FORSIDE
*/

.eventkategori {
	display: block;
	overflow: hidden;
	height: 100px;
	width: auto;
	border-radius: 5px;
	margin-bottom: 1em;
}

.eventkategori img {
	display: block;
	min-width: 100%;
	min-height: 100%;
}