@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	/*
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#333;
	*/
}

/*
	HEADER
*/

.header {
}

.header .logo {
	background-image: url("../img/logo.png");
	background-position: left;
	height: 100px;
}

@media (min-width: 768px) {
	.header .logo {
		height: 200px;
	}
}

.navbar {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}



/*
	FOOTER
*/

.side-footer {
	margin-top: 5em;
	padding: 40px 0;
	color: #888;
	text-align: center;
	background-color: #f1f1f1;
	border-top: 1px solid #e1e1e1;
}

.side-footer li {
	list-style: none;
}

/*
	FORSIDE
*/

.eventkategorier {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.eventkategorier > li {
	position: relative;
	display: block;
	overflow: hidden;
	height: 50px;
	width: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.eventkategorier > li > img {
	display: block;
	min-width: 100%;
	min-height: 100%;
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
}

.eventkategorier > li > .title {
	position: absolute;
	top: -8px;
	right: 0;
	bottom: 0;
	left: 0;
    color:white;
    font-size:16pt;
    text-align: center;
    text-shadow: 2px 2px 2px black!important;
}

.eventkategorier li:hover{
	-webkit-transform:scale(1.1);
	-webkit-animation-name: kategori;
	-webkit-animation-duration: 0.2s;
	transform:scale(1.1);
	animation-name: kategori;
	animation-duration: 0.2s;
}

@-webkit-keyframes kategori {
	from {
		-webkit-transform:scale(1.0);	
	}
	to {
		-webkit-transform:scale(1.1);
	}
}

@keyframes kategori {
	from {
		transform:scale(1.0);	
	}
	to {
		transform:scale(1.1);
	}
}

/*
	EVENT LISTE
*/

.event-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}

.event-list > li > .info > .date {
	float: right;
	margin-right: 1em;
}

.event-list > li > img {
	width: 100%;
}

.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}

.event-list > li > .info > .title {
	font-size: 17pt;
	font-weight: 400;
	margin: 0px;
}

.event-list > li > .info > .desc {
	font-size: 12pt;
	margin: 0px;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

.event-list > li > .social > ul {
	margin: 0px;
}

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}

.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 

.event-list > li > .social > ul > li {    
	padding: 0px;
}

.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
} 

.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.google-plus a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}

.twitter a {
	color: rgb(79, 213, 248) !important;
}

.google-plus a {
	color: rgb(221, 75, 57) !important;
}

.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: block;
		width: 100%;
		height: 120px;
		padding: 0px;
	}

	.event-list > li > img  {
		display: inline-block;
		float: left;
		width: 120px;
		height: 120px;
		padding: 0px;
		margin: 0px;
	}

	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
		position: relative;
		height: 120px;
		text-align: left;
		padding-right: 40px;
	}

	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	}

	.event-list > li > .info > ul {
		position: absolute;
		left: 0px;
		bottom: 0px;
	}

	.event-list > li > .social {
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 40px;
	}

	.event-list > li > .social > ul {
		border-left: 1px solid rgb(230, 230, 230);
	}

	.event-list > li > .social > ul > li {			
		display: block;
		padding: 0px;
	}
	
	.event-list > li > .social > ul > li > a {
		display: block;
		width: 40px;
		padding: 10px 0px 9px;
	}
}

/*
	EVENTSIDE
*/

.event-info {
	background-color: #eee;
	padding: 1em;
	border-radius: 5px;
}

.event-info > img {
	border-bottom: solid 5px #5CB85C;
	margin-bottom: 1em;
}

.event-desc > h1 {
	font-size: 17pt;
}

.featured-events > h1 {
	font-size: 17pt;
	margin-top: 0px;
}

.event-list-small {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.event-list-small > li {
	background-color: rgb(245, 245, 245);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	position: relative;
	display: block;
	width: 100%;
	height: 80px;
	padding: 0px;
	margin: 0 0 10px 0;
}

.event-list-small > li > img {
	display: inline-block;
	float: left;
	width: 80px;
	height: 80px;
	padding: 0px;
	margin: 0 10px 0 0;
}

.event-list-small > li > .info > h1 {
	font-size: 14pt;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
}

.event-list-small > li > .info {
	line-height: 20px;
}

.event-info > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
}

.event-info > .social > ul {
	margin: 0px;
}

.event-info > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}

.event-info > .social > ul > li {    
	padding: 0px;
}

.event-info > .social > ul > li > a {
	padding: 3px 0px;
} 

.event-info > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

.facebook a,
.twitter a,
.google-plus a,
.instagram a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}

.twitter a {
	color: rgb(79, 213, 248) !important;
}

.google-plus a {
	color: rgb(221, 75, 57) !important;
}

.instagram a {
	color: rgb(147, 99, 87) !important;
}

.facebook:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(75, 110, 168) !important;
}

.twitter:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(79, 213, 248) !important;
}

.google-plus:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(221, 75, 57) !important;
}

.instagram:hover a {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(147, 99, 87) !important;
}